<script src="https://giscus.app/client.js"
        data-repo="gsq7474741/psychology"
        data-repo-id="R_kgDOIUjK-A"
        data-category="General"
        data-category-id="DIC_kwDOIUjK-M4CSOn2"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

{{/*  嵌入waline匿名评论系统  */}}
<!--
<div id="waline"></div>
  <script>
    Waline.init({
      el: '#waline',
      serverURL: 'https://waline.oldwinter.top',
    });
  </script> 
-->